/*
@mixin respond($breakpoint) {
      @if $breakpoint == phone {
            @media only screen and (max-width: 37.5em) {
                  @content;
            } //600px
      }
      @if $breakpoint == tab-port {
            @media only screen and (max-width: 56.25em) {
                  @content;
            } //900px
      }
      @if $breakpoint == tab-land {
            @media only screen and (max-width: 75em) {
                  @content;
            } //1200px
      }
      @if $breakpoint == big-desktop {
            @media only screen and (min-width: 112.5em) {
                  @content;
            } //1800
      }
}
*/
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  font-size: 2rem;
  font-family: "Libre Franklin", sans-serif;
}

.headSubHead {
  width: 50%;
  max-width: 70%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 20px;
  margin-top: 10rem;
  margin-bottom: 5rem;
}

.rosterRow {
  min-width: 70%;
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  border: 1px solid #fff;
  border-radius: 5rem;
  margin-bottom: 0.5rem;
}

.rosterRowLeft {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 45%;
          flex: 1 1 45%;
  text-align: right;
  color: white;
  padding: 1rem;
}

.rosterRowRight {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 45%;
          flex: 1 1 45%;
  justify-self: flex-start;
  color: white;
  padding: 1rem;
}

.rosterHolder {
  width: 60%;
  margin: 0 auto;
  border: 1px solid #fff;
  border-radius: 5rem;
  background-color: rgba(255, 255, 255, 0.15);
  padding: 2rem;
}

.plainText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 20px;
  margin: 1rem auto;
  margin-top: 5rem;
  text-align: center;
}

.plainText--main {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.plainText--sub {
  font-size: 2rem;
  margin-top: 1rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

@media (max-width: 1200px) {
  html {
    font-size: 56.5%;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 45%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #d9e7eb;
}

.officerCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  padding-top: 0px;
  max-width: 75%;
  margin: 0 auto;
  margin-top: 5rem;
}

.officerCard--name {
  text-align: center;
  margin-top: 0;
}

.officerCard--details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.officerCard--details--picture {
  min-width: 150px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.officerCard--details--picture--src {
  border-radius: 15rem;
  width: 100%;
}

.officerCard--details--content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 70%;
          flex: 1 1 70%;
  border: 1px solid #fff;
  border-radius: 20px;
  margin: 5px;
  padding: 5px;
}

/*
.btn {
  display: inline-flex;
  cursor: pointer;
  text-decoration: none;
  padding: 0 0 0 0.5em;
  color: black;
  background: white;
  border: 2px solid black;
}

.split-evenly {
  display: flex;
}

.split-evenly > * {
  width: 100%;
}

.split-evenly > * + * {
  margin-left: 1em;
}

form {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  padding: 2rem;
}

form .btn {
  align-self: flex-end;
}

input,
textarea {
  width: 100%;
  border: 2px solid black;
  padding: 0.5em 1em;
}
*/
.contactUs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid #fff;
  border-radius: 1rem;
  width: 70%;
  margin: 2rem auto;
  padding: 2rem;
}

.contactUs--title {
  border: 1px solid #fff;
  border-radius: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  width: 30%;
  text-align: center;
}

.contactUs--nameEmail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contactUs--nameEmail--name {
  border: 1px solid #fff;
  border-radius: 1rem;
  width: 100%;
  margin-right: 1rem;
  padding: 0.5rem;
}

.contactUs--nameEmail--name--text {
  opacity: 0.5;
  width: 100%;
  padding: 0.5em 1em;
}

.contactUs--nameEmail--email {
  border: 1px solid #fff;
  border-radius: 1rem;
  width: 100%;
  margin-left: 1rem;
  padding: 0.5rem;
}

.contactUs--nameEmail--email--text {
  opacity: 0.5;
  width: 100%;
  padding: 0.5em 1em;
}

.contactUs--message {
  border: 1px solid #fff;
  border-radius: 1rem;
  padding: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.contactUs--message--text {
  opacity: 0.5;
  width: 100%;
  padding: 0.5em 1em;
  height: 30vh;
}

.contactUs--submit--button {
  padding: 1rem;
  border: 1px solid #fff;
  border-radius: 1rem;
  width: 30%;
  background-color: transparent;
  color: white;
}

.contactUs--submit--button:hover {
  background-color: white;
  color: black;
}

.socialPlug {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 50%;
  margin: 10rem auto;
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid #fff;
  border-radius: 2rem;
  padding: 2rem;
}

.socialPlug--link {
  text-decoration: none;
}

.socialPlug--link--holder {
  width: 100%;
  border: 1px solid #fff;
  border-radius: 1rem;
  padding: 1rem;
  color: white;
}

.socialPlug--link--holder:hover {
  color: black;
  background-color: white;
}

.accordian {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5vh;
}

.accordian--element {
  width: 75%;
  position: relative;
  margin: 10px 20px;
}

.accordian--element--question {
  position: relative;
  padding: 10px;
  color: white;
  background-color: rgba(255, 255, 255, 0.15);
  cursor: pointer;
  border: 1px solid white;
  border-radius: 2rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  -webkit-transition: 1s;
  transition: 1s;
}

.accordian--element--question:before {
  position: absolute;
  content: "+";
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.5em;
}

.accordian--element--answer {
  position: relative;
  background: white;
  opacity: 0;
  height: 0;
  overflow: hidden;
  height: 0rem;
  font-size: 2rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 4rem;
  border-top-left-radius: 4rem;
}

.accordian--element.active .accordian--element--answer {
  height: auto;
  padding: 10px;
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
  opacity: 0.5;
}

.accordian--element.active .accordian--element--question::before {
  content: "-";
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}

.accordian--element.active .accordian--element--question {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
  -webkit-transition: 1s;
  transition: 1s;
}

.grid {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.grid--item {
  margin: 1em;
  min-width: 100px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.grid--item--inside {
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 2rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media (min-width: 500px) {
  .grid--item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 45%;
            flex: 1 1 45%;
  }
}

@media (min-width: 1000px) {
  .grid--item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 25%;
            flex: 1 1 25%;
  }
}

@media (min-width: 1200px) {
  .grid--item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 22%;
            flex: 1 1 22%;
  }
}

/*
.tester {
      border: 1px solid green;
      padding: 1em;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      &--item {
            border: 2px solid red;
            margin: 0.5em;
            min-width: 150px;
            flex: 1 1 23%;
            align-self: center;
            &--src {
                  max-width: 100%;
            }
      }
}
*/
.hero {
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  height: 100vh;
  width: 100vw;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(70, 68, 68, 0.883)), to(rgba(0, 1, 78, 0.527))), url(../img/foggyPaddling.jpg);
  background: linear-gradient(rgba(70, 68, 68, 0.883), rgba(0, 1, 78, 0.527)), url(../img/foggyPaddling.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero--title {
  font-size: 6rem;
  font-family: "Libre Franklin", sans-serif;
  text-align: center;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 58%;
  margin: 0 auto;
  color: white;
}

@media screen and (max-width: 700px) {
  .hero--title {
    width: 90%;
  }
}

.hero--title--mainText {
  font-weight: 700;
  font-size: 6rem;
  width: 100%;
  letter-spacing: 1rem;
  margin-bottom: 1rem;
}

.hero--title--subText {
  border-bottom: 2px solid white;
  width: 100%;
  font-weight: 300;
  font-size: 2rem;
  letter-spacing: 2rem;
  margin-bottom: 6rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.hero--title--button {
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #2da4a4;
  font-weight: 400;
  font-size: 2rem;
  padding: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.twoHalves {
  border: 1px solid white;
  width: 80%;
  margin: 0 auto;
  margin-top: 10rem;
  border-radius: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1rem;
  padding-top: -2rem;
}

.twoHalves--left {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  padding: 1rem;
  text-align: center;
}

.twoHalves--right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  padding: 1rem;
  text-align: center;
}

.footer2 {
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
  padding-left: 6rem;
  padding-right: 6rem;
  color: black;
  background-color: #c7c7c7;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  font-family: "Libre Franklin", sans-serif;
}

.footer2--column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 2rem;
}

.footer2--column--item {
  padding: 2rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 23%;
          flex: 0 1 23%;
}

.footer2--column--item--header {
  color: #6a7777;
  margin-bottom: 2rem;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  font-weight: 1000;
  font-size: 2.2rem;
}

.footer2--column--item--content {
  color: #8d9397;
  line-height: 5rem;
  text-transform: uppercase;
  font-size: 1.9rem;
}

.footer2--column--item--center {
  text-align: center;
}

.footer2--column--item--center--header {
  color: #6a7777;
  margin-bottom: 2rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-weight: 1000;
  font-size: 2.2rem;
  margin-left: -3rem;
}

@media (max-width: 600px) {
  .footer2--column--item--center--header {
    margin-left: 0rem;
  }
}

.footer2--column--item--center--links {
  display: inline-block;
  text-align: left;
  letter-spacing: 0.25rem;
  display: inline-block;
  line-height: 5rem;
  font-size: 1.9rem;
  list-style: none;
  font-style: none;
  text-transform: uppercase;
  color: #8d9397;
}

@media (max-width: 600px) {
  .footer2--column--item--center {
    text-align: left;
  }
}

@media (max-width: 600px) {
  .footer2--column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 2rem;
  }
}

.footer2--bottom {
  padding: 2rem;
  border-top: 2px solid #385f6e;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer2--bottom--links {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.footer2--bottom--links--icon {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.footer2--bottom--links--icon--style {
  max-width: 60%;
}

.footer2--bottom--credits {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 10%;
          flex: 0 1 10%;
  padding: 2rem;
  color: #385f6e;
  text-align: center;
}

@media (max-width: 600px) {
  .footer2--bottom {
    width: 100%;
  }
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 100%;
  color: white;
  background-color: #1c4f63;
}

.navigation--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.navigation--content--item {
  list-style-type: none;
  padding: 1rem;
  letter-spacing: 0.2rem;
  margin-left: 2rem;
}

.navigation--content--item--link {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: 300;
}

.navigation--content--item--link:hover {
  background-color: cyan;
  color: black;
}

.navigation--content--logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 1.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 0;
}

.navigation--content--logo--holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navigation--content--logo--holder--leftSide {
  width: 10%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.navigation--content--logo--holder--leftSide--image {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  max-width: 100%;
}

.navigation--content--logo--holder--rightSide {
  margin: 0rem;
  margin-left: 2rem;
  width: 10%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 3rem;
  letter-spacing: 0.7rem;
}

.navigation--content--toggle {
  display: none;
}

@media (max-width: 800px) {
  .navigation--content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .navigation--content--toggle {
    display: block;
  }
  .navigation--content--item2 {
    display: none;
    width: 100%;
    text-align: center;
  }
  .active {
    display: block;
    height: auto;
    opacity: 70%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}

.homepage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 5rem;
}

.spacer {
  margin-bottom: 30rem;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  padding: 10rem;
  padding-left: 15rem;
  padding-right: 15rem;
}

@media (max-width: 800px) {
  .intro {
    padding: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.intro--content {
  font-family: "Libre Franklin", sans-serif;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin: 0 auto;
}

.intro--content--title {
  font-weight: 800;
  font-size: 4.5rem;
  font-style: italic;
  color: #1c4a5e;
  width: 100%;
  margin-bottom: 1rem;
  text-transform: uppercase;
  padding: 2rem;
  margin-bottom: 4rem;
}

.intro--content--header {
  color: #2da4a4;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 3rem;
  letter-spacing: 0.5rem;
  margin-bottom: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.intro--content--paragraph {
  font-weight: 200;
  font-size: 2rem;
  padding: 2rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.recruitment {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
