.contactUs {
      display: flex;
      flex-direction: column;
      color: #fff;
      //background-color: rgba($color-grey-dark, 0.3);
      border: 2px solid $color-Primary-Blue;
      border-radius: 1rem;
      width: 100%;
      margin: 2rem auto;
      padding: 2rem;

      /*
      &--title {
            border: 1px solid #fff;
            border-radius: 1rem;
            margin-bottom: 1rem;
            padding: 0.5rem;
            width: 30%;
            text-align: center;
      }
      */
      &--nameEmail {
            display: flex;

            &--name {
                  border: 2px solid $color-Primary-Blue;
                  border-radius: 1rem;
                  width: 100%;
                  margin-right: 1rem;
                  padding: 0.5rem;
                  font-size: 3rem;
                  color: $color-Primary-Blue;
                  text-align: center;
                  &--text {
                        border: 2px solid $color-Primary-Blue;
                        font-size: 3rem;
                        opacity: 0.5;
                        width: 100%;
                        padding: 0.5em 1em;
                        color: $color-Primary-Blue;
                  }
            }
            &--email {
                  border: 2px solid $color-Primary-Blue;
                  border-radius: 1rem;
                  width: 100%;
                  margin-left: 1rem;
                  padding: 0.5rem;
                  font-size: 3rem;
                  color: $color-Primary-Blue;
                  text-align: center;

                  &--text {
                        border: 2px solid $color-Primary-Blue;
                        font-size: 3rem;
                        opacity: 0.5;
                        width: 100%;
                        padding: 0.5em 1em;
                        color: $color-Primary-Blue;
                  }
            }
      }
      &--message {
            border: 2px solid $color-Primary-Blue;
            border-radius: 1rem;
            padding: 2rem;
            margin-top: 3rem;
            text-align: center;
            color: $color-Primary-Blue;
            font-size: 3rem;
            &--text {
                  border: 2px solid $color-Primary-Blue;
                  opacity: 0.5;
                  font-size: 3rem;
                  width: 100%;
                  padding: 1rem;
                  height: 40vh;
                  color: $color-Primary-Blue;
            }
            margin-bottom: 1rem;
      }
      &--submit {
            text-align: center;
            &--button {
                  padding: 1rem;
                  border: 2px solid $color-Primary-Blue;
                  border-radius: 1rem;
                  width: 40%;
                  font-size: 3rem;
                  background-color: transparent;
                  color: $color-Primary-Blue;
                  text-align: center;
                  margin: 0 auto;
                  margin-top: 1rem;
                  &:hover {
                        background-color: white;
                        color: black;
                  }
            }
      }
}
