.grid {
      padding: 2rem;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      &--item {
            margin: 0.5em;
            min-width: 100px;
            flex: 1 1 100%;
            &--inside {
                  max-width: 100%;
                  object-fit: contain;
                  border-radius: 1rem;
                  box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 15px;
            }

            /*
            @media (min-width: 500px) {
                  flex: 1 1 48%;
            }
            */

            @media (min-width: 350px) {
                  flex: 1 1 40%;
            }

            @media (min-width: 1000px) {
                  flex: 1 1 18%;
            }
      }
}

/*
.tester {
      border: 1px solid green;
      padding: 1em;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      &--item {
            border: 2px solid red;
            margin: 0.5em;
            min-width: 150px;
            flex: 1 1 23%;
            align-self: center;
            &--src {
                  max-width: 100%;
            }
      }
}
*/
