.hero {
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      display: flex;
      flex-shrink: 1;
      height: 100vh;
      //width: 100vw;

      &--main {
            background: linear-gradient(
                        rgba(70, 68, 68, 0.883),
                        rgba(0, 1, 78, 0.527)
                  ),
                  url(../img/foggyPaddling.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
      }

      &--Roster {
            background: linear-gradient(
                        rgba(85, 85, 85, 0.688),
                        rgba(66, 66, 66, 0.463)
                  ),
                  url(../img/teamBanner.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
      }

      &--recruitment {
            background: linear-gradient(
                        rgba(85, 85, 85, 0.3),
                        rgba(88, 88, 88, 0.2)
                  ),
                  url(../img/teamPics/sjdb3.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            left: 10rem;
      }

      &--aboutUs {
            background: linear-gradient(
                        rgba(85, 85, 85, 0.572),
                        rgba(88, 88, 88, 0.463)
                  ),
                  url(../img/teamPics/CC2019_2.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            left: 10rem;
      }

      &--contactUs {
            background: linear-gradient(
                        rgba(85, 85, 85, 0.2),
                        rgba(88, 88, 88, 0.3)
                  ),
                  url(../img/teamPics/retreat.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            top: -30rem;
      }

      //background-image: url(../img/foggyPaddling.jpg);

      &--title {
            font-size: 6rem;
            font-family: "Libre Franklin", sans-serif;
            text-align: center;
            text-transform: uppercase;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 58%;
            margin: 0 auto;
            color: white;
            //border: 2px solid white;
            @media screen and (max-width: 700px) {
                  width: 90%;
            }
            &--mainText {
                  //box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                  font-weight: 700;
                  //font-size: 6rem;
                  //padding: 2rem;
                  //border: 2px solid white;
                  width: 100%;
                  letter-spacing: 1rem;
                  margin-bottom: 1rem;

                  &--big {
                        font-weight: 1000;
                        font-size: 9rem;
                        @media (max-width: 600px) {
                              font-size: 6rem;
                        }
                  }
            }
            &--subText {
                  // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                  //padding: 2rem;
                  border-bottom: 2px solid white;
                  width: 100%;
                  font-weight: 300;
                  font-size: 2.5rem;
                  letter-spacing: 2rem;
                  margin-bottom: 6rem;
                  padding-top: 2rem;
                  padding-bottom: 2rem;
                  @media (max-width: 900px) {
                        letter-spacing: 1rem;
                  }
            }
            a {
                  text-decoration: none;
            }
            &--button {
                  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                  background-color: $color-Primary-BlueLighter;
                  font-weight: 400;
                  font-size: 2rem;
                  padding: 2rem;
                  padding-left: 3rem;
                  padding-right: 3rem;
                  text-decoration: none;
                  color: white;
                  transition: all 0.5s;

                  &:hover {
                        box-shadow: rgba(0, 0, 0, 0.45) 5px 10px 20px;
                        color: $color-Primary-BlueLighter;
                        background-color: white;
                        transform: translateY(-1rem) scale(1.05);
                  }

                  &:active {
                        transform: translateY(1rem);
                  }
            }
            &--whitebox {
                  //margin-top: 4rem;
                  padding: 1rem;
                  padding-left: 25rem;
                  border-top: 3px solid white;
            }
      }
}
