.introNav {
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      margin-top: 5rem;
      display: flex;
      flex-direction: column;
      padding: 2rem;
      padding-left: 4rem;
      padding-right: 4rem;
      color: white;
      background-color: $color-Primary-Blue;
      flex: 1 1 100%;
      font-family: "Libre Franklin", sans-serif;
      //border: 2px solid white;
      text-align: center;

      &--content {
            //border: 2px solid white;
            display: flex;
            justify-content: space-around;
            flex: 1 1 100%;
            padding: 1.5rem;

            &--card {
                  padding: 1rem;
                  //border: 1px solid white;
                  flex: 1 1 100%;

                  margin: 0.5rem;

                  a {
                        text-decoration: none;
                        color: white;
                  }

                  &--picture {
                        //padding: 5rem;
                        //border: 1px solid white;
                        padding: 5rem;
                        &--src {
                              box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                              //border: 1px solid white;
                              border-radius: 50rem;
                              max-width: 100%;
                              //max-height:100%;
                              transition: all 0.5s;
                              @media (max-width: 600px) {
                                    max-width: 100%;
                              }
                              &:hover {
                                    transform: scale(1.03);
                                    box-shadow: rgba(0, 0, 0, 0.6) 5px 10px 20px;
                              }
                        }
                  }

                  &--title {
                        //padding: 2rem;
                        border-bottom: 1px solid white;
                        padding-bottom: 1.25rem;
                        font-size: 3.5rem;
                        font-weight: 600;
                        width: 80%;
                        margin: 0 auto;
                        transition: all 0.2s;
                        &:hover {
                              font-weight: 700;
                              color: $color-accent-yellow;
                        }
                  }

                  &--text {
                        padding: 2rem;
                        padding-left: 3rem;
                        padding-right: 3rem;
                        font-size: 2rem;
                        width: 75%;
                        margin: 0 auto;
                        line-height: 3rem;

                        @media (max-width: 600px) {
                              padding: 1rem;
                              padding-left: 1.5rem;
                              padding-right: 1.5rem;
                              width: 85%;
                        }
                  }
            }

            @media (max-width: 600px) {
                  flex-direction: column;
                  margin-bottom: 2rem;
            }
      }
}
