.alumniCard {
      border: 1px solid red;
      padding: 2rem;
      border-radius: 2rem;
      display: flex;

      &--leftSide {
            flex: 1 1 33%;
            padding: 1rem;
            border: 1px solid red;
            border-radius: 1rem;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            &--image {
                  max-width: 75%;
                  background-size: cover;
                  border-radius: 50rem;
                  border: 1px solid red;
            }
      }
      &--rightSide {
            flex: 1 1 66%;
            padding: 1rem;
            border: 1px solid red;
            border-radius: 1rem;
      }
}

.officerCard {
      display: flex;
      flex-direction: column;

      color: #fff;
      background-color: rgba(255, 255, 255, 0.15);
      border: 1px solid #fff;
      border-radius: 20px;
      padding: 20px;
      margin: 10px;
      padding-top: 0px;

      max-width: 75%;
      margin: 0 auto;

      &--name {
            text-align: center;
            margin-top: 0;
      }

      &--details {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            &--picture {
                  //border: 1px solid green;
                  min-width: 150px;
                  flex: 1 1 25%;
                  align-self: center;

                  &--src {
                        border-radius: 15rem;
                        width: 100%;
                  }
            }

            &--content {
                  flex: 1 1 70%;
                  border: 1px solid #fff;
                  border-radius: 20px;
                  margin: 5px;
                  padding: 5px;
            }
      }
      margin-top: 5rem;
}
