.alumniCard {
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      border: 0.2rem solid $color-Primary-BlueDarker;
      padding: 0.5rem;
      border-radius: 3rem;
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      max-width: 80%;
      margin-bottom: 5rem;
      background-color: $color-Primary-Cyan-Lighter;
      &--top {
            text-align: center;
            padding: 1rem;
            //border: 1px solid red;
            font-size: 2.5rem;
            letter-spacing: 0.25rem;
            font-weight: 900;
            color: $color-accent-yellow;
            margin-left: 5rem;
            margin-right: 5rem;
            border-bottom: 1px solid $color-Primary-BlueDarker;
      }
      &--bottom {
            display: flex;
            flex-direction: row;
            &--leftSide {
                  //border: 1px solid red;
                  margin: 0 auto;
                  display: flex;
                  justify-content: center;
                  flex: 1 1 35%;
                  align-self: center;
                  padding: 3rem;
                  //justify-content: center;
                  //align-items: center;
                  &--image {
                        max-width: 100%;
                        background-size: cover;
                        border-radius: 50rem;
                        //border: 1px solid red;
                        @media (max-width: 700px) {
                              max-width: 80%;
                        }
                  }
                  @media (max-width: 700px) {
                        padding: 3rem;
                  }
            }
            &--rightSide {
                  display: flex;
                  flex-direction: column;
                  justify-content: space-evenly;
                  //padding-left: 2rem;
                  //align-items: center;
                  flex: 1 1 65%;
                  padding: 1rem;
                  //border: 1px solid red;
                  border-radius: 2rem;
                  font-size: 3rem;
                  @media (max-width: 700px) {
                        padding: 2rem;
                  }

                  &--intro {
                        //border: 1px solid red;
                        letter-spacing: 0.15rem;
                        font-size: 1.25rem;
                        text-align: center;
                        text-transform: none;
                        margin-bottom: 1.5rem;
                        margin-top: 1.5rem;
                        //margin-left: -5rem;
                        @media (max-width: 700px) {
                              margin-top: 1rem;
                              margin-bottom: 3rem;
                              padding-bottom: 2rem;
                              border-bottom: 1px solid $color-Primary-BlueDark;
                        }
                        &--small {
                              font-size: 1rem;
                        }
                  }

                  &--question {
                        //border: 1px solid red;
                        font-size: 1.5rem;
                        font-weight: 500;
                        color: $color-Primary-BlueDark;
                        letter-spacing: 0.33rem;
                        margin-bottom: 0.5rem;
                        &--small {
                              font-size: 1rem;
                        }
                  }
                  &--answer {
                        text-transform: none;
                        //border: 1px solid red;
                        padding-left: 4rem;
                        font-size: 1.25rem;
                        letter-spacing: 0.2rem;
                        margin-bottom: 2.5rem;
                        @media (max-width: 600px) {
                              margin-top: 1rem;
                              margin-bottom: 3rem;
                              padding-left: 4rem;
                        }
                        &--small {
                              font-size: 1rem;
                        }
                  }
            }
            @media (max-width: 700px) {
                  flex-direction: column;
                  margin-bottom: 2rem;
            }
      }
      @media (max-width: 700px) {
            max-width: 75%;
      }
}

.officerCard {
      font-family: "Libre Franklin", sans-serif;
      display: flex;
      flex-direction: column;
      color: black;
      //border: 1px solid black;

      margin: 0 auto;
      //margin-left: 10rem;
      //margin-right: 10rem;
      max-width: 90%;
      &--details {
            display: flex;
            flex-direction: row;

            //flex-wrap: wrap;

            &--picture {
                  //border: 1px solid green;

                  //min-width: 150px;
                  flex: 1 0 30%;
                  align-self: center;
                  //padding: 5rem;
                  display: flex;
                  justify-content: right;
                  align-items: center;
                  //margin-right: -5rem;
                  &--src {
                        border-radius: 50rem;
                        max-width: 70%;
                        min-width: 60%;
                        //flex: 1 1 100%;

                        @media (max-width: 900px) {
                              justify-content: center;
                              max-width: 50%;
                              margin-right: 0;
                        }
                  }
                  @media (max-width: 900px) {
                        justify-content: center;
                  }
            }

            &--content {
                  flex: 1 1 70%;
                  //border: 1px solid green;
                  padding: 2rem;
                  padding-left: 4rem;
                  display: flex;
                  flex-direction: column;
                  justify-content: space-evenly;

                  //margin-top: -5rem;
                  &--name {
                        color: $color-Primary-BlueDarker;
                        font-weight: 800;
                        font-size: 6.5rem;
                        text-transform: uppercase;
                        @media (max-width: 900px) {
                              padding: 1rem;
                              font-size: 5rem;
                        }
                  }
                  &--factsList {
                        margin-bottom: 1rem;
                        list-style-type: none;
                        color: $color-accent-yellow;
                        font-weight: 700;
                        font-size: 3rem;
                        padding-left: 3rem;
                        @media (max-width: 900px) {
                              padding: 0rem;
                        }
                  }
                  &--question {
                        padding-left: 0.5rem;
                        font-size: 3.35rem;
                        font-weight: 500;
                        color: $color-Primary-BlueDark;
                        letter-spacing: 0.33rem;
                        @media (max-width: 900px) {
                              text-align: left;
                              padding-left: 2rem;
                        }
                  }
                  &--fact {
                        margin-top: 1rem;
                        padding-left: 2.5rem;
                        font-size: 2.5rem;
                        font-weight: 500;
                        color: $color-Primary-BlueDark;
                        letter-spacing: 0.33rem;
                        @media (max-width: 900px) {
                              text-align: left;
                              padding-left: 2rem;
                              margin-bottom: 4rem;
                        }
                  }
                  &--text {
                        padding-left: 5rem;
                        font-size: 2rem;
                        letter-spacing: 0.2rem;
                        @media (max-width: 900px) {
                              text-align: left;
                              padding-top: 1rem;
                              padding-left: 3rem;
                              font-size: 2rem;
                              letter-spacing: 0.3rem;
                              margin-bottom: 5rem;
                        }
                  }
                  @media (max-width: 900px) {
                        text-align: center;
                  }
            }

            @media (max-width: 900px) {
                  flex-direction: column;
                  border-bottom: 1px solid $color-Primary-Blue;
            }
      }
      margin-bottom: 15rem;
      @media (max-width: 900px) {
            margin-bottom: 5rem;
      }
}
