.alumniCard {
      border: 1px solid red;
      padding: 2rem;
      border-radius: 2rem;
      display: flex;

      &--leftSide {
            flex: 1 1 33%;
            padding: 1rem;
            border: 1px solid red;
            border-radius: 1rem;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            &--image {
                  max-width: 75%;
                  background-size: cover;
                  border-radius: 50rem;
                  border: 1px solid red;
            }
      }
      &--rightSide {
            flex: 1 1 66%;
            padding: 1rem;
            border: 1px solid red;
            border-radius: 1rem;
      }
}

.officerCard {
      font-family: "Libre Franklin", sans-serif;
      display: flex;
      flex-direction: column;
      color: black;
      border: 1px solid black;
      padding: 20px;

      margin: 0 auto;
      //margin-left: 10rem;
      //margin-right: 10rem;
      &--details {
            display: flex;
            flex-direction: row;
            //flex-wrap: wrap;

            &--picture {
                  border: 1px solid green;

                  min-width: 150px;
                  flex: 1 0 30%;
                  align-self: center;
                  padding: 5rem;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  &--src {
                        //border-radius: 50rem;
                        max-width: 100%;
                        flex: 1 1 100%;
                  }
            }

            &--content {
                  flex: 1 1 70%;
                  border: 1px solid green;
                  padding: 2rem;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  //margin-top: -5rem;
                  &--name {
                        color: $color-Primary-BlueDarker;
                        font-weight: 800;
                        font-size: 8rem;
                        text-transform: uppercase;
                        padding-bottom: 2rem;
                  }
                  &--factsList {
                        margin-bottom: 2rem;
                        list-style-type: none;
                        color: $color-accent-yellow;
                        font-weight: 700;
                        font-size: 2.75rem;
                        padding-left: 1rem;
                        padding-bottom: 4rem;
                  }
                  &--question {
                        font-size: 3rem;
                        font-weight: 500;
                        color: $color-Primary-BlueDark;
                        letter-spacing: 0.33rem;
                  }
                  &--text {
                        padding-left: 3rem;
                        font-size: 2rem;
                  }
            }
      }
      margin-top: 5rem;
}
