.twoHalves {
      border: 1px solid white;
      width: 80%;
      margin: 0 auto;

      margin-top: 10rem;
      border-radius: 2rem;
      display: flex;
      flex-wrap: wrap;
      padding: 1rem;
      padding-top: -2rem;

      &--left {
            //border: 1px solid white;
            flex: 1 1;
            padding: 1rem;
            text-align: center;
      }
      &--right {
            //border: 1px solid white;
            flex: 1 1;
            padding: 1rem;
            text-align: center;
      }

}
