.footer2 {
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      margin-top: 5rem;
      display: flex;
      flex-direction: column;
      padding: 2rem;
      padding-left: 6rem;
      padding-right: 6rem;
      color: black;
      background-color: $color-grey-light;
      flex: 1 1 100%;
      font-family: "Libre Franklin", sans-serif;
      &--column {
            //border: 1px solid white;
            display: flex;
            justify-content: space-around;
            flex: 1;
            padding: 2rem;

            &--item {
                  padding: 2rem;
                  //border: 1px solid white;
                  flex: 0 1 23%;

                  //1st and 3rd colmn
                  &--header {
                        //border: 1px solid white;
                        color: $color-grey-dark;
                        margin-bottom: 2rem;
                        letter-spacing: 0.25rem;
                        text-transform: uppercase;
                        font-weight: 1000;
                        font-size: 2.2rem;
                  }
                  &--content {
                        color: $color-grey;
                        line-height: 5rem;
                        text-transform: uppercase;
                        font-size: 1.9rem;
                  }

                  //2nd
                  &--center {
                        text-align: center;
                        &--header {
                              color: $color-grey-dark;
                              margin-bottom: 2rem;
                              letter-spacing: 0.2rem;
                              text-transform: uppercase;
                              font-weight: 1000;
                              font-size: 2.2rem;
                              //border: 1px solid white;
                              margin-left: -3rem;
                              @media (max-width: 600px) {
                                    margin-left: 0rem;
                              }
                        }
                        &--links {
                              //border: 1px solid white;
                              display: inline-block;
                              text-align: left;
                              letter-spacing: 0.25rem;
                              display: inline-block;
                              line-height: 5rem;
                              font-size: 1.9rem;
                              list-style: none;
                              font-style: none;
                              text-transform: uppercase;
                              color: $color-grey;
                        }
                        @media (max-width: 600px) {
                              text-align: left;
                        }
                  }
            }

            @media (max-width: 600px) {
                  flex-direction: column;
                  margin-bottom: 2rem;
            }
      }

      &--bottom {
            padding: 2rem;
            //border: 1px solid white;
            border-top: 2px solid $color-Primary-BlueFaded;
            text-align: center;
            display: flex;
            flex-direction: column;
            width: 50%;
            margin: 0 auto;
            justify-content: center;
            align-items: center;
            &--links {
                  //border: 1px solid white;
                  text-align: center;

                  display: flex;
                  justify-content: center;
                  flex-shrink: 0;
                  &--icon {
                        flex: 1;
                        &--style {
                              max-width: 60%;
                        }
                  }
            }
            &--credits {
                  flex: 0 1 10%;
                  padding: 2rem;
                  //border: 1px solid white;
                  color: $color-Primary-BlueFaded;
                  text-align: center;
            }
            @media (max-width: 600px) {
                  width: 100%;
            }
      }
}
