//colors
$color-Primary-Blue: #286e89;

$color-Primary-BlueDark: #1c4f63;
$color-Primary-BlueLight: #538e96;
$color-Primary-BlueLighter: #2da4a4;
$color-Primary-BlueFaded: #385f6e;
$color-white: #ffffff;
$color-white-text: #cbdce4;
$color-grey-light: #c7c7c7;
$color-grey-dark: #6a7777;
$color-grey-darkest: #8b939b;
$color-grey: #8d9397;
