.util--margin--top--2rem {
  margin-top: 2rem;
}

.util--margin--top--5rem {
  margin-top: 5rem;
}

.util--margin--top--10rem {
  margin-top: 10rem;
}

.util--margin--bot--2rem {
  margin-bottom: 2rem;
}

.util--margin--bot--5rem {
  margin-bottom: 5rem;
}

.util--margin--bot--10rem {
  margin-bottom: 10rem;
}

/*
@mixin respond($breakpoint) {
      @if $breakpoint == phone {
            @media only screen and (max-width: 37.5em) {
                  @content;
            } //600px
      }
      @if $breakpoint == tab-port {
            @media only screen and (max-width: 56.25em) {
                  @content;
            } //900px
      }
      @if $breakpoint == tab-land {
            @media only screen and (max-width: 75em) {
                  @content;
            } //1200px
      }
      @if $breakpoint == big-desktop {
            @media only screen and (min-width: 112.5em) {
                  @content;
            } //1800
      }
}
*/
